streamlit
faiss-cpu
numpy
openai
langchain-text-splitters
sentence-transformers
torch
torchvision
python-dotenv
rank-bm25
pillow
streamlit-mic-recorder
PyMuPDF
pdf2image
easyocr
opencv-python-headless