streamlit
faiss-cpu
numpy
langchain-text-splitters
sentence-transformers
torch
torchvision
python-dotenv
rank-bm25
pillow
PyMuPDF
pdf2image
easyocr
opencv-python-headless
audio-recorder-streamlit
groq